.first-page {
  .row {
    .overlay {
      position: absolute;
      top:68%;
      color:@black;
      width: 100%;
    }
  }
  #start-button {
    animation-duration: 2s;
    animation-delay: 2s;
    text-align: center;
    color: #333333;
    font-size: @font-size*3;
  }
}
