.score-page {
  /*
  background-image: url("/img/score_back.png");
  background-position: bottom center;
  background-size: 100%;
  min-height: 603px;
  height: auto !important;
  height: 100%;
*/
  .row {
    img {
      position: fixed;
      top: 0;
      left: 0;

      /* Preserve aspet ratio */
      min-width: 100%;
      min-height: 100%;
    }
    .overlay {
      position: absolute;
      top:0;
      width: 100%;
    }

  }
  form {
    margin-top: 88px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;

    .form-group {
      margin-top: 30px;
    }

    label {
      text-align: right;
      color: #7e5124;
    }
    input {
      align-content: left;
    }
    select {
      align-content: left;
    }
    .submit-button {
      background-color: #db3131;
      color: white;
      width: 167px;
      height: 50px;
      font-size: 20px;
      margin-top: 20px;
      border-radius: 5px;

      a {
        color: white;
      }
    }
  }
}
