<div class="container-fluid first-page">
    <div class="row">
        <div>
            <img src= <%- locals.host %><%- locals.first_page_png %> class="img-responsive">
            <div class="overlay">
                <h1 class="animated infinite rubberBand" id="start-button">
                    <a href="score">点击解封</a>
                </h1>
            </div>
        </div>
    </div>
</div>
