<div class="container-fluid score-page">
    <div class="row">
        <img src= <%- locals.host %><%- locals.score_back_png %> class="img-responsive">
        <form class="form-horizontal overlay" role="form" id="score-form">
            <div class="form-group distinct">
                <label for="distinct" class="col-xs-4 control-label">所在区域:</label>
                <div class="col-xs-8">
                    <select class="form-control" name="distinct" id="distinct">
                        <option value="-1">请选择所在区域</option>
                        <option value="310101">黄浦区</option>
                        <option value="310104">徐汇区</option>
                        <option value="310105">长宁区</option>
                        <option value="310106">静安区</option>
                        <option value="310107">普陀区</option>
                        <option value="310108">闸北区</option>
                        <option value="310109">虹口区</option>
                        <option value="310110">杨浦区</option>
                        <option value="310112">闵行区</option>
                        <option value="310113">宝山区</option>
                        <option value="310114">嘉定区</option>
                        <option value="310115">浦东新区</option>
                        <option value="310116">金山区</option>
                        <option value="310117">松江区</option>
                        <option value="310118">青浦区</option>
                        <option value="310120">奉贤区</option>
                        <option value="310121">崇明县</option>
                    </select>
                </div>
            </div>
            <div class="form-group score-1">
                <label for="score1" class="col-xs-4 control-label">一模成绩:</label>
                <div class="col-xs-8">
                    <input type="number" class="form-control" id="score-1"
                           placeholder="请输入一模考试成绩" name="score-1">
                </div>
            </div>
            <div class="form-group score-2">
                <label for="score2" class="col-xs-4 control-label">二模成绩:</label>
                <div class="col-xs-8">
                    <input type="number" class="form-control" id="score-2"
                           placeholder="请输入二模考试成绩" name="score-2">
                </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button type="submit" class="btn submit-button" id="submit-button">
                        <a href="result">立即预测 </a>
                    </button>
                </div>
            </div>

        </form>
        <%- partial("./_footer") %>
    </div>
</div>
